
body {
  /* background: #e5e8d3 ; */
  background-image:url('../imgs/background.gif');
  background-repeat: repeat;
  color:#3b3c36;

}


header {
  /* background-color:#fa494b; */
  background-image: url(../imgs/header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

body:not(#home) header{
  /* background-color:#fa494b; */
  background-image:url('../imgs/header-subpage.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}



/* text */

a {
  color:#113b3a;
}

h1, h2{
    font-size: 2.5rem;
    font-family: 'Marley', sans-serif;
}


h3{
    font-size: 3rem;
    font-family: 'Marley', sans-serif;
}

h4{
  font-size: 1.3rem;
  font-weight: bold;
}

h5, h6{
    font-size: 1.1rem;
}



nav {
  color:#fff;
  letter-spacing: 0.5px;
}

nav a{
  color:inherit;
}
nav a:hover {
  color:#113b3a;
}


nav ul li:last-child{
    float: right;
    display: inline;
    margin: 0;
}

nav ul li:not(:last-child):not(:nth-last-child(2)):after {
  content:" | "
}



/* lists  */

main dl {
  padding: 0;
}

main dl dt {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
}

main dl dd {
  margin-bottom: 15px;
  padding: 0 15px;
}




.list ol {
    list-style: decimal;
    list-style-position:outside;
    margin: 0;
    padding: 0;
}

.list ul {
    list-style: disc;
    list-style-position:outside;
}

.list ul li, .list ol li {
    margin-left: 1.3em;
    padding-left: 0.3em;
}





/* thumbnails */

.thumbs img {width:100%; display: block;}


.thumbs > * {
  padding: 0;
  margin: 1em;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
   }

.thumbs em {display: block;
    font-weight: bold;
    font-size: 1.3em;
  }

.thumbs a {cursor:pointer; color:inherit; display:block;}


@media (max-width: 800px) {
.thumbs > div {
  margin: 10px 0 10px 0;
}

}






/* Flex structure
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}

.flex > * { box-sizing: border-box; }

.flex.colx3 > * {
    flex: 0 1 30%;}

.flex.colx2 > * {
    flex: 1 0 45%;}




@media (max-width: 750px) {
    .flex:not(header) {
        -webkit-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }
    .flex > *,
    .flex.colx3 > *,
    .flex.colx2 > * {
        flex: 1 1 auto;

    }

    .flex.colx2 > *:last-child, .flex.colx2 > *:first-child {margin:0;}
    .flex.colx2 > div {
        padding: 0;
    }
}
article .flex .colx2 {

}


article.flex.colx2 > .text {
    flex: 1 0 70%;
  }
article.flex.colx2 > .side{
      flex: 1 0 25%;
    }

.events img {width:100%;}
.events .flex.colx2 div:first-child {
  flex: 1 0 25%;
}
.events .flex.colx2 div:last-child {
  flex: 1 0 70%;
}
.events li {background-color:#fff;
  margin-bottom:2em; padding:2em;}
.events  .txt {
  padding-left:2em;
}

.events .desc {
padding-top:1em;
}


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    /*height: 38px;*/
    padding: 0em 1.5em;
    color: #383838;
    text-align: center;
    font-size: 1em;
    line-height: 38px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 1em;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
	/*background-color: transparent;*/
    background: #fff;
    outline: 0;
    border: 0;
    margin: 1em 0;
    font-weight: bold;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover{
    color: #eee;
    background: #242322;
    outline: 0;
    cursor: pointer;
}


@media (max-width: 750px) {
    .btn {
        margin: 0.2em 0;
    }
}


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

form {}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5em; }

input,
textarea,
select {
  	padding: 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    width: 100%;
    background-color: #fff;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 6px;
	  -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

input,
select {
    box-sizing: border-box;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
}

input, textarea, select {
	margin-bottom: 1em;
	border: none;
	}


textarea {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin: 8px 0;
    min-height: 65px;
}

input:focus,
textarea:focus,
select:focus {
    /* border: 2px solid #16b6b4; */
}


fieldset {
    padding: 0;
    margin: 8px 0;
    border-width: 0;
}

fieldset .field-group:first-of-type{margin-right: 20px;}

fieldset .field-group{
	width: calc(50% - 10px);
    float: left;
    }

input[type="checkbox"]{
    appearance: checkbox;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
	}
input[type="radio"]{
    appearance: radio;
    -webkit-appearance: radio;
    -moz-appearance: radio;
	}

input[type="submit"] {
  width:auto;
  border:0;
  margin:10px 0;
}


form label {display:inline-block;}
form.stacked label{display:block;}

input[type=text], input[type=email] {padding: 1em;}



#response {
    padding: 20px;
    background-color: #eee;
    color: #333;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
     display: none;
}

@media (max-width: 750px) {
    form {
        margin: 0;
        padding: 0;
		width:100%;;
    }
    form div {
        padding-top: 0;
    }
    label {
        margin: 20px 0 0;
    }

	fieldset .field-group{
	width: 100%;
    float: none;
    }
}


/* others */




.btn.priority {background-color:#0078e7; color:#fff;}
.priority {background-color:#0078e7; color:#fff; padding:1rem;}
.success {background-color:rgb(28, 184, 65); color:#fff; padding:1rem;}
.error {background-color:rgb(202, 60, 60); color:#fff; padding:1rem;}
.warning {background-color:rgb(223, 117, 20); color:#fff; padding:1rem;}
.secondary {background-color:rgb(66, 184, 221); color:#fff; padding:1rem;}



.card { margin: 0 0 7em;}
.card > *:first-child {margin-top:0;}
.side img {
  display: block;
    float: right;
  }
/* .flex.colx2 > *:first-child {margin-right:20px; padding-right: 5em; }
.flex.colx2 > *:last-child {margin-left:20px;} */

main .container .card:nth-child(even) .txt{
  margin-right:20px;
  padding-right: 5em;
}
main .container .card:nth-child(odd) .flex{
  flex-direction: row-reverse;
}

main .container .card:nth-child(odd) .txt{
  margin-left:20px;
  padding-left: 5em;
}


blockquote {
    border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;}


.highlight {
    background: #bfc121;
    color:#eee;
    border-radius: 3px;
    margin: 15px 0;
    overflow: auto;
    padding:1em;
}






.profiles {
  background-color:#eee;
}



.newsletter {
  background-color: #1da990;
  /* color: #fff; */
  background-image: url(../imgs/bg-newsletter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.newsletter form {
  width:50%;
}

.newsletter input[type="submit"]  {
  background-color: #fa494b;
  color: #fff;
  display: block;
  width: 100%;
}

.social {
  background-color:#f5ba35;
  background-image: url('../imgs/social-pattern.jpg');
  background-repeat: repeat;
  border-top: 1em solid;
}

.social .txt h3{
  background-color: #f5ba35;
  display: inline-block;
  padding: 0.3em;
}

footer {
  font-size:0.9em;
  margin-top:10em;
}
footer .logo {
  background-color: #276679;
}

footer .icons{
  float:right;
}

footer .icons img {
  width:50px;
  height:auto;
}

footer .nav {
  background-color: #276679;
  border-bottom: 1px solid #364456;
  color: #e5e8d3;
}
footer .nav a {
  color:inherit;
}
footer p {
margin-bottom: 1em;
}

footer .nav li {
  display: inline;
}
footer .nav li:not(:last-child):after {
  content:" | "
}

footer .nav .container {
  padding-top:0.5em;
  padding-bottom:0.5em;
}
